.menu {
    display: flex;
    flex-grow: 1;
}
.item-text{
    flex-grow: 1;
    
}
.name {
    margin-right: 1.5em;
}
.desc {
  flex-grow: 1;
  line-height: 1.6;
  margin-left: 1em;
}
.heading{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  margin-left: 1em;
}
.image{
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

@media screen and (min-width: 992px) {
  .image{
    width: 125px;
    height: 125px;
  }
   }