.menu {
    display: flex;
}
.item-text{
    flex-grow: 1;
    
}
.name {
    margin-right: 1.5em;
}
.desc {
    line-height: 1.6;
    margin-left: 1em;
}
.price
{
    
}
.heading{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 1em;
}
.image{
  flex-shrink: 0;
  margin-right: 1.5em;
}